.footer{
    margin-top: 100px;
     background-color: rgb(25, 135, 84);
     padding: 15px 0px;
     color:white
 }
 
 .footer p{
     display: inline;
     font-size: 25px;
     margin-right: 100px;
     font-weight: 500;
 }
 